$primary-text-color:#757575;
$title-text-color:#212121;
$accent-color:#2196F3;
$header-contacts-color:#757575;
$footer-contacts-color:rgba(255, 255, 255, 0.6);
$white-color:#FFFFFF;
$primary-background-color:#FFFFFF;
$secondary-background-color:#F5F4FA;
$header-background-color:#FFFFFF;
$footer-background-color:#2F303A;
$button-hover:#188CE8;
$social-item-color:#AFB1B8;
$footer-social-background:rgba(255, 255, 255, 0.1);
$service-title-background:rgba(47, 48, 58, 0.8);
$backdrop-color:rgba(0, 0, 0, 0.2);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);